/*
 *= require font-awesome
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233, 246, 250);
}

/* .nav_bar {
  padding: 0 5rem;
} */

.search-area {
  padding-top: 50px;
}

.result-block {
  display: inline-block;
}

.logout_button {
  margin-right: 5px;
}

.add_button {
  display: inline;
}

.user_name {
  margin-top: 3.5%;
  padding-right: 5px;
}

.button {
  display: inline;
}